<div class="row">
  <div class="col-md-4 mx auto">
      <div class="card mt-4 text-center">
          <div class="card-header">
              Inicio de sesion
          </div>
          <div class="card-body">
              <form action="/users/signin" method="POST">
                  <div class="form-group">
                     <input type="email" class="form-control" name="email" placeholder="Correo electronico" autofocus>
                  </div>
                  <div class ="form-group">
                      <input type="password" name="password" class="form-control" placeholder="Contraseña" autofocus>
                  </div>
                  <div class ="form-group">
                      <button type="submit" class="btn btn-primary btn-block">
                            Entrar
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>