<div class ="jumbotron mt-4">
    <h1 class="display-4">Aplicacion de notas con MongoDB</h1>  
    <p class="lead">Guarda tus recuerdos---Crea,edita o elimina tus notas para que no se te olvide nada</p>
    <hr class="my-4">
    <p>Puedes visitar la pagina oficial de MongoDB para obtener toda la informacion sobre la base de datos que sostiene este sistema</p>
    <a href="https://www.mongodb.com/es" class="btn btn-info btn">MongoDB</a>
</div>